body{
    width: 100%;
    height: 100vh;
    padding: 2%;
    color: rgb(90, 90, 90);
    background-color:  rgb(226, 226, 226);
}

.cabecera{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo{
    color: rgb(0, 195, 255);
    display: flex;
    justify-content: row;
    align-items: flex-end;
}

.logo strong{
    color: rgb(90, 90, 90);
}

img{
    width: 40%;
}

.menu{
    width: 40%;
}

.menu ul{
    justify-content: space-around;
    display: flex;
    gap:20px;
}
span{
    color: rgb(0, 195, 255);
}

.inicio h1{
    padding-top: 5%;
    font-size: 50px;
}


.inicio h2{
    padding-bottom: 5%;
    font-size: 20px;
}

.inicio .botones{
    display: flex;
    padding-top: 3%;
    gap:3%;
}

.botones button{
    color: white;
    padding-top: 0.75%;
    padding-bottom: 0.75%;
    padding-right: 1.5%;
    padding-left: 1.5%;
    border-radius: 10px;
    background-color: rgb(0, 195, 255);
}

.dudas:hover{
    transition: 1s;
    transform: rotate(120);
}

.multimedia{
    background-image: url("img/TÉCNICO SUPERIOR EN MARKETING Y PUBLICIDAD 2.png");
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.integracion{
    background-image: url("img/TÉCNICO SUPERIOR EN MARKETING Y PUBLICIDAD 3.png");
    background-size: cover;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.administracion{
    background-image: url("img/TÉCNICO SUPERIOR EN MARKETING Y PUBLICIDAD 4.png");
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.educacion{
    background-image: url("img/TÉCNICO SUPERIOR EN MARKETING Y PUBLICIDAD 9.png");
    background-size: cover;
}

.fisico{
    background-image: url("img/TÉCNICO SUPERIOR EN MARKETING Y PUBLICIDAD 7.png");
    background-size: cover;
}

.cocina{
    background-image: url("img/TÉCNICO SUPERIOR EN MARKETING Y PUBLICIDAD 8.png");
    background-size: cover;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}

.gallery-container{
    display: grid;
    grid-template-columns: repeat(3, 20%); 
    grid-template-rows: repeat(4, 250px);
    gap: 20px;
    justify-content: center;
}

.gallery-container div{
    display: flex;
    align-items: end;
    border-radius: 10px;
}

.gallery-container p{
    margin: 5px;  
    color: white;  
}
